<div class="p-5 mt-4 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold center">Welcome to MyRecipes</h1>
    <p class="display-5 fs-1 center">The best recipe sharing app!</p>
    <p class="center">
        <%= link_to "Sign up or log in", "#", class: "btn btn-danger btn-lg" %>
    </p>
  </div>
</div>